*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html, body{
  font: 18px "Helvetica Neue", Arial;;
  background-color: #f5f5f5;
  color: #4d4d4d;
  font-weight: 300;
}
h1{
  font-weight: 200;
  text-align: center;
  font-size: 80px;
}
.todoList-wrapper{
  width: 80%;
  margin: 40px auto;
  background-color: #fff;
}
.new-todo{
  margin: 0;
  width: 100%;
  font-size: 24px;
  font-weight: 300;
  padding: 16px;
  border: none;
  border-bottom: 1px solid #ededed;
  outline: none;
}

.todo-list{
  list-style-type: none;
}
.todo-list li{
  display: flex;
  align-items: center;
  font-size: 20px;
  border-bottom: 1px solid #ededed;
}
.todo-list li .custom-checkbox{
  position: relative;
  width: 30px;
  height: 30px;
  margin-left: 15px;
  border: 1px solid #777;
  border-radius: 5px;
}
.todo-list li label{
  flex: 1;
  padding: 15px;
}